.people {
    background-image: url(https://wallpaperaccess.com/full/4730363.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    padding-top: 1em;
    font-family: 'ITC Avant Garde Gothic';
  }